<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="com.practice.kioskPj.menu.model.vo.Menu" alias="menu" />
		<typeAlias type="com.practice.kioskPj.menu.model.vo.Attatchment" alias="attatchment" />
		<typeAlias type="com.practice.kioskPj.shop.model.vo.Shop" alias="shop" />
	</typeAliases>

	<mappers>
		<mapper resource="/mappers/shop-mapper.xml"></mapper>
		<mapper resource="/mappers/menu-mapper.xml"></mapper>
	</mappers>
</configuration>