<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="shopMapper">
  
	 
<resultMap id="shopResultSet" type="shop">
    <result property="shopNum" column="SHOP_NUM"/>
    <result property="shopId" column="SHOP_ID"/>
    <result property="shopPwd" column="SHOP_PWD"/>
    <result property="shopName" column="SHOP_NAME"/>
    <result property="shopRepresentative" column="SHOP_REPRESENTATIVE"/>
    <result property="shopPhone" column="SHOP_PHONE"/>
    <result property="shopEmail" column="SHOP_EMAIL"/>
    <result property="contractPeriod" column="CONTRACT_PERIOD"/>
    <result property="updateDate" column="UPDATE_DATE"/>
    <result property="userGrade" column="USER_GRADE"/>
    <result property="userStatus" column="USER_STATUS"/>
</resultMap>
	  
	 <!-- 가게 리스트 조회 -->
	<select id="selectListShop" resultMap="shopResultSet">
		   SELECT SHOP_NUM,
		           SHOP_NAME
		    FROM SHOPS
		    WHERE USER_STATUS = 'Y'
		    AND USER_GRADE = '2'
		    ORDER BY SHOP_NUM
		    LIMIT 6
	</select>
	
	<!-- 로그인 -->
	<select id="loginMember" parameterType="shop" resultMap="shopResultSet">
		SELECT *
		FROM SHOPS
		WHERE SHOP_ID = #{shopId}
		AND USER_STATUS = 'Y'
	</select>
	
	<!-- 로그인시 아이디와 비밀번호 확인 -->
	<select id="loginUser" resultType="shop">
		SELECT *
		FROM SHOPS
		WHERE SHOP_ID = #{shopId} 
		AND SHOP_PWD = #{shopPwd}
		AND USER_STATUS = 'Y'
	</select>
	
	<!-- 회원정보 리스트 불러오기 -->
	<select id="selectMyPage" parameterType="String" resultMap="shopResultSet">
		SELECT *
		FROM SHOPS
		WHERE SHOP_ID= #{shopId}
		AND USER_STATUS = 'Y'
	</select>
	
	<!-- 회원정보 업데이트 -->
	<update id="updateShop" parameterType="shop">
		UPDATE SHOPS
		SET SHOP_NAME = #{shopName}
			,SHOP_REPRESENTATIVE = #{shopRepresentative}
			,SHOP_PHONE = #{shopPhone}
			,SHOP_EMAIL = #{shopEmail}
		WHERE SHOP_ID = #{shopId}
		AND USER_STATUS = 'Y'
	</update>
	
	<!-- 전체 상점 개수 -->
	<select id="selectListShopCount" resultType="_int">
		SELECT COUNT(*)
		FROM SHOPS
	</select>
	
	<select id="selectAllShopList" resultMap="shopResultSet">
		SELECT *
		FROM SHOPS
		WHERE USER_GRADE = '2'
		ORDER BY SHOP_ID DESC
	</select>
	
	<!-- 유저 상태 업데이트 -->
	<update id="changeUserStatus" parameterType="shop">
		UPDATE SHOPS
		SET USER_STATUS = #{userStatus}
		WHERE SHOP_ID=#{shopId}
	</update>	
	
	<!-- 업체 등록 -->
	<insert id="enrollShop" parameterType="shop">
		INSERT INTO SHOPS (
		    SHOP_ID, 
		    SHOP_PWD, 
		    SHOP_NAME, 
		    SHOP_REPRESENTATIVE, 
		    SHOP_PHONE, 
		    SHOP_EMAIL
		) VALUES (
		    #{shopId}, 
		    #{shopPwd}, 
		    #{shopName}, 
		    #{shopRepresentative}, 
		    #{shopPhone}, 
		    #{shopEmail} 
		);
	</insert>
	
	<!-- 아이디 중복 체크 -->
	<select id="checkDupId" resultType="int">
		SELECT COUNT(*)
		FROM SHOPS
		WHERE SHOP_ID = #{checkId}
		AND USER_STATUS = 'Y'
	</select>
	
	<!-- 업체명 중복 체크 -->
	<select id="checkName" resultType="int">
		SELECT COUNT(*)
		FROM SHOPS
		WHERE SHOP_NAME = #{checkName}
		AND USER_STATUS = 'Y'
	</select>
	
	
	<!-- 업체 삭제 -->
	<delete id="deleteShop" parameterType="String">
	    DELETE FROM SHOPS
	    WHERE SHOP_ID=#{shopId}
	</delete>

	<!-- 비밀번호 초기화 이메일 확인 -->
	<select id="selectShopEmail" resultMap="shopResultSet">
		SELECT *
		FROM SHOPS
		WHERE SHOP_EMAIL = #{chkEmail}
		AND USER_STATUS = 'Y'
	</select>	
	
	<!-- 비밀번호 초기화 후 재설정 -->
	<update id="resetPwdNew" parameterType="shop">
	    UPDATE SHOPS
	    SET SHOP_PWD = #{shopPwd}
	    WHERE SHOP_EMAIL = #{shopEmail}
	    AND USER_STATUS = 'Y'
	</update>

	<!-- 관리자 - 비밀번호 초기화(초기화 비밀번호 설정) -->
	<update id="resetPassword" parameterType="shop">
 		UPDATE SHOPS
	    SET SHOP_PWD = #{shopPwd}
	    WHERE SHOP_ID = #{shopId}
	</update>
	
	
	
	
	
  
  </mapper>